html {
    background-color: #000000;
}



.collect {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #2c2f33;
    color: white;
    border: none;
    border-bottom: 3px solid transparent;
}

.tab.active {
    border-bottom: 3px solid greenyellow;
}



.text {
    font-size: 15px;
    color: greenyellow;
    padding-top: 5px;
}

.table1 {
    width: 1320px;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 5px;
}

.composer {
    width: 300px;
}

.length {
    width: 50px;
}

.title {
    width: 320px;
}

.pack {
    width: 80px;
}

.diff,
.level {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    width: 35px;
    height: auto;
}

.bpm {
    width: 70px;
}


.chart {
    width: 120px;
}

.side {
    width: 65px;
}

.version {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    width: 50px;
}

.release {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}