html {
    background-color: #000000;
    -webkit-text-size-adjust: 100%;
}


.collect {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #2c2f33;
    color: white;
    border: none;
    border-bottom: 3px solid transparent;
}

.tab.active {
    border-bottom: 3px solid greenyellow;
}



.text {
    font-size: 15px;
    color: greenyellow;
    padding-top: 5px;
}

.table1 {
    width: 1320px;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: sans-serif;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 5px;
}

.title {
    padding: 0;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    box-sizing: border-box;
    overflow: hidden;
}

.title1 {
    padding: 0;
    width: 660px;
    min-width: 660px;
    max-width: 660px;
    box-sizing: border-box;
    overflow: hidden;
}

.composer {
    height: 80px;
    padding: 0;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}

.length {
    width: 50px;
}

.pack {
    width: 80px;
}

.diff,
.level {
    writing-mode: vertical-rl;
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
}

.notes {
    writing-mode: vertical-rl;
    width: 40px;
}

.bpm {
    width: 70px;
}


.chart {
    width: 120px;
}

.side {
    width: 65px;
}

.version {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    width: 50px;
}

.release {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}