html {
    background-color: #000000;
}



.text {
    font-size: 15px;
    color: greenyellow;
}

.table1 {
    width: 540px;
    border-collapse: collapse;
    float: left;
    margin-right: 50px;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 5px;
}

.pack{
    width: 80px;
}

.diff{
    width: 30px;
}

.bpm {
    width: 80px;
}

.familiar {
    float: left;
}

